<dx-data-grid class="dx-widget dx-datagrid" [dataSource]="data" (onEditorPreparing)="handlePrep($event)"
  (onCellValueChanged)="handleCellValueChanged($event)">
  <dxo-editing [allowAdding]="true" [allowDeleting]="true" [allowUpdating]="true" [mode]="'cell'">
    <dxo-popup [title]="'Edit Students'" [showTitle]="true">
    </dxo-popup>


    <dxo-form>
      <!-- <dxi-item *ngFor="let item of columns"></dxi-item> -->
    </dxo-form>
  </dxo-editing>

  <dxi-column *ngFor="let column of columns" [dataField]="column.dataField" [dataType]="column.dataType"
    [caption]="column.caption" [visible]="column.visible !== false" [lookup]="column.lookup ? column.lookup : null">
  </dxi-column>

  <!-- For Icons -->
  <dxi-column type="buttons">
    <dxi-button name="edit" icon="edit" hint="Edit"></dxi-button>
    <dxi-button name="delete" icon="trash" hint="Delete"></dxi-button>
  </dxi-column>
</dx-data-grid>
